body{
    background: lightpink;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: navy;
}

.btn{
    background:blue;
    margin: 20px;
}

.add-btn{
    background: yellow;
    width: 70px;
    height: 30px;
    font-weight: 900;
    color: midnightblue;
}
.app-title{
    text-align: center;
    color:purple;
    font-weight: bold;
    font-style: italic;
    font-size: 200px;
}
.container{
    border: 5px solid darkblue;
    border-radius: 25px;

}
